@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  min-height: 110vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 100%;
}

.tracker {
  margin: 3em auto;
  width: 45%;
  min-height: 80vh;
  @media (max-width: 600px) {
    width: 75%;
  }
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  padding-bottom: 10px;
  margin: 40px 0 10px;
  font-size: 1.6em;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  transition: ease-in-out 100ms;
  &:hover {
    transform: scale(1.1);
  }
}
